{
  "presets" : [
    "react",
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
